.App {
  padding: 0 15vw;
}

.input-container {
  padding: 3%;
  background: grey;
  margin-bottom: 100px;
}

.input-container input,
.input-container textarea {
  display: block;
  max-width: 95%;
}

.title-edit {
  margin: 30px 0;
  display: block;
  font-weight: 800;
  font-size: 20px;
}
.text-edit {
  height: 200px;
  width: 100%;
  resize: none;
}

button {
  margin: 5px;
}
